<h1>Hello, <%= @profile.first_name + " " + @profile.last_name %></h1>

<%#
- show own and friends' posts and photos on page
- add post
- add photo
- log in / log out - done
- register account - done
- link to friends
%>

<%= image_tag @profile.photo, width: 200 %>

<br/><br/>

<%= link_to "See all #{@friends_count} Friends", friends_path %><br/>
<%= link_to "Add a Friend", new_friend_path %>
